<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Angular Material Nested and Expanded Tables</h1>
  <img width="100" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<div>
  <h2 class="center">Simple table:</h2>
  <simple-table [courses]="courses"></simple-table>
</div>
<div>
  <h2 class="center">Simple Nested tables:</h2>
  <simple-nested-tables [courses]="courses"></simple-nested-tables>
</div>
<div>
  <h2 class="center">Expanded-Nested tables:</h2>
  <expanded-nested-tables [courses]="courses"></expanded-nested-tables>
</div>
<div>
  <h2 class="center">Fully-Expanded tables:</h2>
  <fully-expanded-tables [courses]="courses"></fully-expanded-tables>
</div>

<p class="center">Good Luck! :)</p>
